.env
**.jpg
**.png
**.log
**.dict
**.sql
!meme_judging/no_image.jpg
!dictionaries/template.dict
help.txt
meme_judging/**.env
!meme_judging/template.env
meme_judging/temp
meme_judging/__pycache__
status_dictionary
meme_judging/data.json