**.env
**.jpg
**.png
**.log
**.dict
**.sql
**.diff
**.exe
**.spec
**.temp
!meme_judging/no_image.jpg
!dictionaries/template.dict
help.txt
about.txt
!template.env
!meme_judging/template.env
meme_judging/temp
meme_judging/sus_temp
meme_judging/__pycache__
status_dictionary
meme_judging/data.json
meme_judging/suspended_data.json
__pycache__
local_*
meme_judging/local_*
meme_judging/build
credentials.json
settings.yaml